@model 資料庫專題.Models.beveragestore

@{
    ViewBag.Title = "Details";
}

<h2>細項</h2>

<div>
    <h4>細項</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.shopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shopTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopTotal)<span>家</span>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shopName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
