@model IEnumerable<資料庫專題.Models.beveragestore>

@{
    ViewBag.Title = "Index";
}

<h2>飲料店</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shopTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shopTotal)<span>家</span>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.shopName }) |
            @Html.ActionLink("Details", "Details", new { id=item.shopName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.shopName })
        </td>
    </tr>
}

</table>
