@model IEnumerable<資料庫專題.Models.usergroup>

@{
    ViewBag.Title = "Index";
}

<h2>客群</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.beveragestore.shopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.beveragestore.shopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageAge)<span>歲</span>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserGroupId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserGroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserGroupId })
        </td>
    </tr>
}

</table>
